.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a { text-decoration: none; }

.grid-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: 'white';
  background:
    linear-gradient(to right, transparent 0%, rgba(0,0,0,.1) 50%),
    linear-gradient(to bottom, transparent 0%, rgba(0,0,0,.1) 50%);
  background-size: 20px 20px;
  
}

.grid-overlay.show {
  opacity: 1;
  pointer-events: all;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cherry_box {
  background-color: #F0D2EA;
  height: 200px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  outline: none;
}

.big_cherry_box {
  background-color: #F0D2EA;
  height: 1000px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  outline: none;
  display: none;
}

.nature_box {
  background-color: #E2F5B1;
  height: 200px;
  padding: 20px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.big_nature_box {
  background-color: #E2F5B1;
  height: 1000px;
  padding: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  display: none;
}

.moon_box {
  background-color: #a6a9bb;
  height: 200px;
  padding: 20px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.big_moon_box {
  background-color: #a6a9bb;
  height: 1000px;
  padding: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  display: none;
}

.cherry_box a,
.nature_box a,
.moon_box a {
    text-decoration: none;
    color: white;
    outline: none;
}


.box:hover {
  background-color: #d0d0d0;
}


.scrollview {
  display: flex;
  overflow-x: scroll;
}

.scrollview-content {
  display: flex;
  flex-wrap: nowrap;
}

.essay {
  text-align: left;
  font-style: italic;
}

.ls {
  padding-right: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
}
