.intro-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 4px;
  height: 0;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 1s ease-in-out;
}

.box.show {
  height: 300px;
}

